/* nav bar */
nav {
  top: 0vh;
  width: 100%;
  height: 2.5vh;
  position: sticky;
  border-bottom-style: groove;
}

/* nav links */
nav a {
  padding: 0vh 5vh 0vh 5vh;
  color: black;
}

/* picture of me */
.headshot {
  border-style: double;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  border-top: groove;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 1vh;
  background-color: #faf9f6;
  padding-bottom: 3vh;
}
