* {
  color: white;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.tab {
  text-indent: 5vh;
}
.terminal{
  color: goldenrod;
}
.bold {
  font-weight: bold;
}

.text-large {
  font-size: 4vh;
}

.text-medium {
  font-size: 3vh;
}

:root {
  --footer-height: 4rem;
}

.nowrap {
  white-space: nowrap;
}

.title {
  font-family: "Lucida Console";
  font-size: 5vh;
}
.name {
  font-family: "Lucida Sans";
  font-size: 10vh;
  font-style: oblique;
  color: deepskyblue;
  padding: 5vh 0vh 5vh 0vh;
}
.pop {
  color: deepskyblue;
}
.page-nav {
  text-align: center;
  width: 100%;
  top: 0;
  background-color: black;
}

a:hover {
  background-color: deepskyblue;
  color: black;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.right-align {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.half-size {
  width: 50%;
}

.three-quarter-size{
  width: 75%;
}

.pad-top {
  padding-top: 5vh;
}

.pad-top-large {
  padding-top: 25vh;
}

.pad-top-xlarge {
  padding-top: 30vh;
}

.pad-bottom {
  padding-bottom: 5vh;
}

.pad-bottom-medium {
  padding-bottom: 15vh;
}

.pad-bottom-large {
  padding-bottom: 35vh;
}

table thead td {
  padding: 0vh 5vh 0vh 5vh;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  bottom: 0;
  height: 1vh;
  padding-top: 10vh;
}

footer table {
  margin-left: auto;
  margin-right: auto;
}
.float-top {
  vertical-align: top;
}
